<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeCoverage" version="16.0.0-preview-20190203-03" targetFramework="net471" />
  <package id="Microsoft.NET.Test.Sdk" version="16.0.0-preview-20190203-03" targetFramework="net471" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net471" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net471" />
</packages>